.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    color: #fff;
}
.MuiAutocomplete-inputRoot {
    
}

.MuiFormLabel-root.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline.Mui-active {
    border-color: #fff;
}